<!-- meeting_manager/templates/meeting_manager/meeting_list.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DANH SÁCH CUỘC HỌP</title>
        <meta name="description" content="Danh sách cuộc họp">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1>Danh sách cuộc họp</h1>
    {% for meeting in meetings %}
        <p>{{ meeting.title }} - {{ meeting.date }} {{ meeting.time }}</p>
    {% empty %}
        <p>Không có cuộc họp nào.</p>
    {% endfor %}
</body>
</html>
